:root {
    --primary-color: #025015;
    --secondary-color: #dbf8d8;
    --accent-color: #05c234;
    --font-family: "Shadows Into Light Two", helvetica, sans-serif;
}  
.box {
    display:block;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 1rem;
    justify-content: center;
}