
main {
    background-color: #f3e3f3;
}



/* large view navigation ************************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
		display: flex;
		flex: 1;
	}

	.navigation a {
		display: block;
		/* flex: 1 1 100%; */
	}
	.temples-album {
    	display: grid;
    	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    	justify-content: center;    
    	align-items: center;
		justify-items: center;
    	background-color: #f0f0f0;
    	gap: 10px;
    	padding: 10px;
	}
	.temples-album img {
	    width: 100%;
	    height: auto;
		justify-items: center;
		justify-content: center;
		justify-self: center;
	}
	.stuff {
		margin: 1rem auto;
	}
}
